@import 'node_modules/bulma/css/bulma.css';

.card {
   width: 40%; 
}

.input.is-normal{
    width: 60%;
    margin-bottom: 20px;
}
.card-footer-item {
    color: black;

}
.card-footer-item:hover {
    background-color: rgb(247, 247, 247);
}

